.vscode/
*.o
*.in
Makefile
.deps/*
build-aux/
libcperm/.deps/
libcperm/.dirstamp
libcperm/ciphers/.deps/
libcperm/ciphers/.dirstamp
configure
aclocal.m4
autom4te.cache/
config.h
config.log
config.status
stamp-h1
yarrp